@charset "utf-8";
/* CSS Document */

html {
	height: 100%;
}
body {
	height: 100%;
}

.container-fluid {
	
	height: 100%;
	background-image: url(bulbsbg.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}
.container-fluid img {
	filter:brightness(10%);
}

.display-1 {
	color: #ffffff;
}

